.colaborador {
    width: 280px;
    position: relative;
    margin-top: 0;
}

.colaborador .cabecalho {
    background-color: #f0f0f0;
    border-radius: 10px 10px 0 0;
}

.colaborador img {
    width: 130px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colaborador .rodape {
    background-color: #ffffff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 10px 10px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.colaborador .rodape h4 {
    color: #6278f7;
    font-size: 1rem;
    line-height: 22px;
    margin-bottom: .5rem;
}

.colaborador .rodape h5 {
    font-size: .9rem;
    margin-block: 0 .5rem;
}

.deletar {
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
}

.deletar:hover {
    color:rgb(111, 111, 111);
}

.deletar:active {
    color: rgb(80, 80, 80);
}

.favoritar {
    margin-top: 10px;
    color: #ff0000;
    cursor: pointer;
}