.botao {
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
    padding: 20px 60px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-top: 20px;
    align-self: center;
}

.botao:hover {
    color: #95ffd4;
    
}