.time {
    text-align: center;
    padding: 40px;
    background-color: #D9F7E9;
    position: relative;
    background-image: url('../../../public/imagens/fundo.png');
}

.time h3 {
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #fff;
    font-size: 1.8rem;
    margin-block: .5rem 1.8rem;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-block: 1rem;
    flex-wrap: wrap;
}

.input-cor {
    position: absolute;
    top: 20px;
    right: 50px;
}